<h4>Logs</h4>

<div class="row">
  <div class="col" id="vue-app">
    <tooled-table :rows="rows" :columns="columns" :rowclass="rowclass"></tooled-table>
  </div>
</div>

<script>
    var logs = <%- JSON.stringify(logs) %>
</script>

<script>
    const logClasses = {
        info: 'text-success',
        warn: 'text-warning',
        error: 'text-danger'
    }

    var vapp = new Vue({
        el: '#vue-app',
        data: {
            rows: logs,
            rowclass: row => row.level !== 'info' ? logClasses[row.level] : null,
            columns: [
                {
                    title: 'Level',
                    field: row => '<strong>' + helper.spanClass(logClasses[row.level], row.level) + '</strong>'
                },
                {
                    title: 'Timestamp',
                    field: 'timestamp'
                },
                {
                    title: 'Message',
                    field: row => row.message.includes('\n') ? '<pre><code>' + helper.escapeHTML(row.message) + '</code></pre>' : helper.escapeHTML(row.message)
                }
            ]
        }
    })
</script>
