<style>
  body {
    background-color: black;
    color: red;
    text-align: center;
  }

  a {
    color: white;
  }
</style>

<h2>Internet Explorer is not supported!</h2>
<h4>Please use Chrome, Edge or Firefox</h4>
<a href="https://support.microsoft.com/help/4028606/windows-10-change-your-default-browser">(How to change default browser in Windows 10)</a>